<div class="panel panel-default">
    <div class="panel-heading">Add New FAQ</div>
    <div class="panel-body">
      <form>
        <div class="form-group">
          <h5 for="question">Question Text</h5>
          <input type="text" class="form-control" id="question" autofocus=true>
        </div>
        <div class="form-group">
          <h5 for="answer">Question Answer</h5>
          <input type="text" class="form-control" id="answer">
        </div>
   
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
</div>
