<div>
  <div class="card">
    <div class="card-header">
      {{ question.question }}
      <a href="#" class="btn btn-link" (click)="question.hide = !question.hide">
        <span *ngIf="question.hide">Show</span>
        <span *ngIf="!question.hide">Hide</span>
      </a>
      <a href="#" class="btn btn-link" (click)="removeQuestion(question.question)">
        Remove
      </a>
    </div>
    <div class="card-block" *ngIf="!question.hide">
      <p class="card-title">{{ question.answer }}</p>
    </div>
  </div>
  <br>
</div>