/* You can add global styles to this file, and also import other style files */
.well-black{
    background: #000000;
    color: #ffffff;
}

.well-small{
    padding: 10px;
}

.container{
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 50px;
}

*{
    border-radius: 0 !important;
}